<div id="everything">
	<div id="header">
		<% if session[:user] %>
			<h1> <%= User.find_by_id(session[:user]).name %>'s NPCs</h1>
		<% else %>
			<h1> You are not logged in </h1>
		<% end %>
	</div><!-- end div header -->
	<% if session[:user] %>
		<% @list = Character.select {|npc| npc.userid == session[:user]} %>
		<% if @list %>
			<div class="form">
					<%= form_tag({controller: "characters", action: "view"}, method: "get") do %>
						<label for="NPC">NPC</label>: 
						<p>
							<% @list.each do |npc| %>
								<%= radio_button("npc", :c, "view") %> Name: <%= npc.name %>, Level <%= npc.level %> 
								<%= Race.find_by_id(npc.race).name %> <%= CClass.find_by_id(npc.cclass).name %>
							<% end %>
						</p>
						<%= submit_tag("View NPC") %>
					<% end %>
				</div><!-- end div form -->
		<% end %><!-- end if user -->
	<% else %>
		<p>You have no characters saved</p>
	<% end %><!-- end if listed -->
	<div id="footer">
		<p> The font used on this page, <a href='http://opendyslexic.org/'>OpenDyslexic</a>, is an open source font that makes reading easier for dyslexic people.</p>
		<p>
			<a href='/welcome/index'><button>Home</button></a>
			<a href='/characters/new'><button>Create a character</button></a>
			<% if session[:user] %>
				<a href="/characters/view"><button>View your NPCs</button></a>
				<a href='/login/logout'><button>Log out</button></a>
			<% else %>
				<a href='/login'><button>Log in</button></a>
				<a href='/login/new'><button>New User</button></a>
			<% end %>
		</p>
	</div><!-- end div footer -->
</div><!-- end div everything -->
