<div id="everything">
	<div id="header">
		<h1><%= @name %> </h1>
		<p>Level <%= @lvl %> <%= @race.name %> <%= @c_class.name %>, age <%= @age %></p>
	</div>
	<div class="column_box">
		<div class="column_third">
			<h3>Skills: </h3>
			<dl>
				<dt>Acrobatics:</dt><dd><%= @acrobatics %></dd>
				<dt>Animal Handling:</dt><dd><%= @animal_h %></dd>
				<dt>Arcana:</dt><dd><%= @arcana %></dd>
				<dt>Athletics:</dt><dd><%= @athletics %></dd>
				<dt>Deception:</dt><dd><%= @deception %></dd>
				<dt>History:</dt><dd><%= @history %></dd>
				<dt>Insight:</dt><dd><%= @insight %></dd>
				<dt>Intimidation:</dt><dd><%= @intimidation %></dd>
				<dt>Investigation:</dt><dd><%= @investigation %></dd>
				<dt>Medicine:</dt><dd><%= @medicine %></dd>
				<dt>Nature:</dt><dd><%= @nature %></dd>
				<dt>Perception:</dt><dd><%= @perception %></dd>
				<dt>Performance:</dt><dd><%= @performance %></dd>
				<dt>Persuasion:</dt><dd><%= @persuasion %></dd>
				<dt>Religion:</dt><dd><%= @religion %></dd>
				<dt>Sleight of Hand:</dt><dd><%= @sleight_o_hand %></dd>
				<dt>Stealth:</dt><dd><%= @stealth %></dd>
				<dt>Survival:</dt><dd><%= @survival %></dd>
			</dl>
		</div><!-- end div column_third (skills) -->
		<div class="column_third">
			<h4>Hit points: <%= @hp %></h4>
			<h5>Weapon Proficiency <%= @wpn_prof %></h5>
			<% if @c_class.name == "Barbarian" %>
				<h4>Rages: <%= @rage %></h4>
				<h5>Rage Damage Bonus: <%= @rage_dmg %></h5>
			<% elsif @c_class.name == "Bard" || @c_class.name == "Cleric" || @c_class.name == "Druid" %>
				<% if @c_class.name == "Bard" %>
					<h4>Total spells known: <%= @spells_known %></h4>
				<% end %>
				<dl>
					<dt>Cantrips: <%= @spells[0] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 0 }.map(&:spell).join(', ') %></dd>
					<dt>1st Level Spells: <%= @spells[1] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 1 }.map(&:spell).join(', ') %></dd>
					<dt>2nd Level Spells: <%= @spells[2] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 2 }.map(&:spell).join(', ') %></dd>	
					<dt>3rd Level Spells: <%= @spells[3] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 3 }.map(&:spell).join(', ') %></dd>
					<dt>4th Level Spells: <%= @spells[4] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 4 }.map(&:spell).join(', ') %></dd>
					<dt>5th Level Spells: <%= @spells[5] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 5 }.map(&:spell).join(', ') %></dd>
					<dt>6th Level Spells: <%= @spells[6] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 6 }.map(&:spell).join(', ') %></dd>
					<dt>7th Level Spells: <%= @spells[7] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 7 }.map(&:spell).join(', ') %></dd>
					<dt>8th Level Spells: <%= @spells[8] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 8 }.map(&:spell).join(', ') %></dd>
					<dt>9th Level Spells: <%= @spells[9] %></dt>
					<dd><%= @spells_list.select {|spell| spell.level == 9 }.map(&:spell).join(', ') %></dd>
				</dl>
			<% end %>
		</div><!-- end div column_third (combat) -->
		<div class="column_third">
			<p>Height: <%= @height %>, Weight: <%= @weight %> pounds </p>
			Quirks: <%= @appearance %>
		</div><!-- end div column_third (appearances) !>
		<div id="abilities">
			<dl>
				<dt>Strength:</dt><dd><%= @str %></dd>
				<dt>Dexterity:</dt><dd><%= @dex %></dd>
				<dt>Constitution:</dt><dd><%= @con %></dd>
				<dt>Intelligence:</dt><dd><%= @int %></dd>
				<dt>Wisdom:</dt><dd><%= @wis %></dd>
				<dt>Charisma:</dt><dd><%= @cha %></dd>
			</dl>
		</div><!-- end div abilities -->
	</div><!-- end div column_box -->
	<p><a href='/welcome/index'>Go home</a> or <a href='/new'>go back.</a>
	<br>
	or you can <a href="/view">view</a> or <a href="/print">print</a> a character.
	</p>
</div> <!-- end div everything -->
